.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  h2 {
    text-align: center;
    color: #fff; /* White text for better contrast */
    margin-bottom: 20px;
    padding: 20px;
    background: black; /* Red and Green gradient to mimic the flag */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    font-size: 1.8rem; /* Larger text size for prominence */
    letter-spacing: 2px; /* Spacing between letters for a more elegant look */
  }
  
  .loading-indicator {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form select,
  form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;
  }