<!-- <div class="container">
    
    <div class="sidebar">
      <div class="logo">
        <h2 style="color: white;">Maintenance</h2>
      </div>
      <ul>
        <li><a routerLink="/maintenance/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a routerLink="/maintenance/request-form"><i class="fas fa-plus-circle"></i>Add Request</a></li>
        <li><a routerLink="/maintenance/request-list"><i class="fas fa-list-ul"></i> Request List</a></li>
        <li><a routerLink="/maintenance/Give-maintainedEqupment"><i class="fas fa-list-ul"></i> Maintained lists</a></li>
        <li><a routerLink="/maintenance/MRRListAll"><i class="fas fa-cog"></i> All Req List</a></li>
        <li><a routerLink="/maintenance/view-client-data"><i class="fas fa-cog"></i>Maintened Info</a></li>
        <li><a routerLink="/maintenance/spare-parts-requests"><i class="fas fa-cog"></i> Spare Requests</a></li>
        <li><a routerLink="/maintenance/special-tools-add"><i class="fas fa-cog"></i>Add Special</a></li>
        <li><a routerLink="/maintenance/special-tools"><i class="fas fa-cog"></i> Special Tools</a></li>
        <li><a routerLink="/maintenance/power-maintReqList"><i class="fas fa-cog"></i> Power Maint Req List</a></li>
        <li><a routerLink="/maintenance/givenSparesto"><i class="fas fa-cog"></i> Given Spare Parts to Power</a></li>
        <li><a routerLink="/maintenance/spare-parts-requests"><i class="fas fa-cog"></i>Ministore Spare request list</a></li>
        <li><a routerLink="/maintenance/spare-parts-respond"><i class="fas fa-cog"></i>All sparepart info</a></li>
        <li><a routerLink="/maintenance/addministorebincard"><i class="fas fa-cog"></i>Add BinCards(Ministore)</a></li>
        <li><a routerLink="/maintenance/bincard-list"><i class="fas fa-cog"></i>View BinCards(Ministore)</a></li>
        <li><a routerLink="/maintenance/receive-spare-form-12"><i class="fas fa-cog"></i>Update bincard(Ministore)</a></li>
        <li><a routerLink="/maintenance/generate-report"><i class="fas fa-cog"></i>Generate Report</a></li>
      </ul>
    </div> -->
  
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  
    
    <!-- <div class="footer">
      <p>&copy; 2025 Gofa Maintenance. All rights reserved.</p>
    </div>
  </div> -->