.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .search-bar select {
    padding: 8px;
    margin-right: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
  }
  
  .pagination span {
    font-size: 16px;
    margin: 0 10px;
  }