

.badge {
  padding: 0.5em 0.75em;
  border-radius: 1rem;
}

.badge-warning {
  background-color: #ffc107;
  color: black;
}

.badge-success {
  background-color: #28a745;
  color: white;
}

.btn-sm {
  margin: 2px;
}
